@import 'sass-rem';
@import '../variables.scss';

.box {
  background: $box-bg;
  border-radius: rem(50px);
  padding: rem(40px);
  margin: rem(18px) rem(26px);
  
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 16px 0;
  }

  .description {
    opacity: .5;
    font-size: 16px;
    line-height: 26px;
    padding-right: 150px;
    margin-bottom: 16px;
  }
  
  a {
    color: $bg-orange;
    font-weight: 700;
    text-decoration: none;
  }
}
