.button {
  padding: 0 16px !important;
  font-size: 12px;
  font-weight: 600;
  outline: none !important;
  background: none;
  display: block;
  border: none;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
    padding-left: 20px;
  }
}

.button--big {
  font-size: 16px;
  padding: 20px 50px !important;
  border-radius: 100px !important;
  margin-top: 30px !important;
}

.button--outline {
  border: 1px solid #c6c7cb;
}