.button-group {
  display: inline-block;

  > .box {
    display: flex;
    flex-direction: row;
    width: auto;
    
    > button {
      padding: 6px;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}
