@import '../variables.scss';

.calendar-select {
  margin: 18px 0;
  border: 1px solid #efefef !important;
  border-width: 1px 0 !important;
}

.calendar-select__day-button {
  flex: 1;
  padding: 20px 0 !important;
  justify-content: center;
  font-weight: 400;
  opacity: 0.4;
  cursor: pointer;
}

.calendar-select__day-button--selected {
  color: $bg-blue;
  font-weight: 500;
  opacity: 1;
}

.calendar-select__day-name {
  font-size: 16px;
  margin-bottom: 16px;
}

.calendar-select__day-number {
  font-size: 18px;
}

.calendar-select__in-progress-button {
  align-self: center;
  height: 34px;
  color: $bg-blue;
  border-color: $bg-blue;
}