@import '../variables.scss';

.goal-box {
  position: relative;

  h3 {
    margin-top: 0;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 4px 0;
      opacity: .7;

      svg {
        width: 16px;
        fill: $bg-orange;
        margin-right: 12px;
      }
    }
  }

  img {
    position: absolute;
  }
}