@import 'sass-rem';

.header__header-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  .icon-button {
    width: rem(56px);
    height: rem(56px);

    svg {
      width: 70%;
      height: 70%;
    }
  }
}