@import '../variables.scss';

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;

  svg {
    width: 50%;
    height: 50%;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease-in-out;
  }
}

.icon-button--badge {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 25%;
    right: 25%;
    width: 15%;
    height: 15%;
    background: red;
    border-radius: 50%;
    border: 2px solid $page-bg;
  }
}
