@import 'sass-rem';
@import '../variables.scss';

.navbar {
  background: $navbar-bg;
  color: $text-color;
  width: rem(150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  svg {
    fill: $text-color;
  }

  nav {
    list-style: none;

    li {
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: rem(20px);
        line-height: rem(22px);
        font-weight: 600;
        height: rem(75px);
        color: $text-color;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;

        &.current::after {
          content: '\2022';
          display: block;
        }

        svg {
          width: rem(26px);
          height: rem(26px);
        }

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, 0.1);
          transition: background-color 0.1s ease-in-out;
        }
      }
    }
  }
}

.navbar__item {
  height: rem(120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__item--logo {
  height: rem(145px);
}

.navbar__item__logo {
  opacity: 0.8;
}
