@import 'sass-rem';
@import '../variables.scss';

.profile {
  display: flex;
  line-height: rem(56px);
  text-decoration: none;
  color: $text-color !important;
  font-size: 18px;
  font-weight: 600;
}

.profile__photo {
  width: rem(56px);
  height: rem(56px);
  border-radius: 30%;
  margin-right: rem(26px);
}