@import '../variables.scss';

$height: 8px;

.progress-bar {
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  min-height: $height;
  margin: 10px 0;
  border-radius: $height / 2;
}

.progress-bar__indicator {
  background: $navbar-bg;
  min-height: $height;
  border-radius: $height / 2;
}