@import 'sass-rem';
@import '../variables.scss';

.search {
  $height: rem(56px);
  flex: 0 1 40%;

  form {
    height: $height;
    border-radius: $height / 2;
    padding: 0;
    display: flex;
    color: $text-color;
    padding: 0 $height / 3;
    
    .icon-button {
      fill: $text-color;
      width: $height / 1.3;
      height: $height;
  
      svg {
        width: rem(24px);
      }
  
      &:hover,
      &:focus {
        background: none;
      }
    }
  
    input {
      flex: 1;
      background: none;
      border: none;
      font-size: rem(18px);
      -webkit-appearance: none;
  
      &:focus {
        outline: none;
      }
    }
  }
}