@import 'sass-rem';
@import '../variables.scss';

.smart-planning-box {
  
  .icon-button {
    width: rem(80px);
    border-radius: rem(24px) !important;
    margin: 0 0 0 16px;
    padding: 0;
    font-size: 15px;
    font-weight: 600;

    svg {
      width: 40px;
      height: auto;
      margin-bottom: 6px;
    }
  }
}