@import '../variables.scss';

.tabs {
  margin: 5px -10px;

  .tab {
    background: none;
    border: none;
    color: $dark-text;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.7;
    outline: none;
    cursor: pointer;
  }

  .tab--selected {
    opacity: 1;

    &::after {
      content: '\2022';
      display: block;
    }
  }
}