.welcome {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  padding: 35px 20px 35px 0 !important;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);

  h2 {
    margin-top: 0;
    font-weight: 600;
    color: black;
  }
}