@import 'sass-rem';
@import './helpers.scss';

.app {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  header {
    flex: 1 1 100%;
    display: flex;

    aside {
      padding: 0;
    }
  }

  .page {
    flex: 1;
    padding: rem(26px);
    overflow-y: auto;
  }

  main {
    display: flex;
  }

  article {
    flex: 1;
  }
  
  aside {
    flex: 0 0 330px;
    margin-right: rem(-26px);

    .box {
      margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
