@import './variables.scss';

.no-bg {
  background: none !important;
  border-radius: 0 !important;
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.d-flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-space-between {
  justify-content: space-between;
}

.bg-yellow {
  background-color: $bg-yellow !important;
}

.bg-orange {
  background-color: $bg-orange !important;
}

.bg-blue {
  background-color: $bg-blue !important;
}

.bg-dark {
  background-color: $dark-bg !important;
}

.bg-orange,
.bg-blue,
.bg-dark {
  color: $dark-text !important;
  
  svg {
    fill: $dark-text !important;
  }
}